<html>
<head>
	<title>เว็บรวมบทเพลงพระราชนิพนธ์</title>
</head>
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>เว็บรวมบทเพลงพระราชนิพนธ์</h1>
</center>	



<center><a href="https://web.ku.ac.th/king72/2530/music.htm">รวมบทเพลงพระราชนิพนธ์ ( คลิ๊ก )</a></center>
	

</html>
