<html>
<head>
	<title>เราสู้</title>
</head>
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>เราสู้</h1>
	
	
</center>	
<h2>เนื่่อเพลง</h2>
<h3>บรรพบุรุษของไทยแต่โบราณ
ปกบ้านป้องเมืองคุ้มเหย้า
เสียเลือดเสียเนื้อมิใช่เบา
หน้าที่เรารักษาสืบไป
ลูกหลานเหลนโหลนภายหน้า
จะได้มีพสุธาอาศัย
อนาคตจะต้องมีประเทศไทย
มิยอมให้ผู้ใดมาทำลาย
ถึงขู่ฆ่าล้างโคตรก็ไม่หวั่น
จะสู้กันไม่หลบหนีหาย
สู้ตรงนี้สู้ที่นี่สู้จนตาย
ถึงเป็นคนสุดท้ายก็ลองดู
บ้านเมืองเราเราต้องรักษา
อยากทำลายเชิญมาเราสู้
เกียรติศักดิ์ของเราเราเชิดชู
เราสู้ไม่ถอยจนก้าวเดียว</h3>



</html>
