<html>
<head>
	<title>พรปีใหม่</title>
</head>
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>พรปีใหม่</h1>
	
	
</center>	
<h2>เนื่่อเพลง</h2>
<h3>สวัสดีวันปีใหม่พา	ให้บรรดาเราท่านรื่นรมย์
ฤกษ์ยามดีเปรมปรีดิ์ชื่นชม	ต่างสุขสมนิยมยินดี
ข้าวิงวอนขอพรจากฟ้า	ให้บรรดาปวงท่านสุขศรี
โปรดประทานพรโดยปรานี	ให้ชาวไทยล้วนมีโชคชัย
ให้บรรดาปวงท่านสุขสันต์	ทุกวันทุกคืนชื่นชมให้สมฤทัย
ให้รุ่งเรืองในวันปีใหม่	ผองชาวไทยจงสวัสดี
ตลอดปีจงมีสุขใจ	ตลอดไปนับแต่บัดนี้
ให้สิ้นทุกข์สุขเกษมเปรมปรีดิ์	สวัสดีวันปีใหม่เทอญ</h3>



</html>