<html>
<head>
	<title>แผ่นดินของเรา</title>
</head>
<div align="right">
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>แผ่นดินของเรา</h1>
	
	
</center>	
<h2>เนื่่อเพลง</h2>
<h3>ถึงอยู่แคว้นใด
ไม่สุขสำราญ
เหมือนอยู่บ้านเรา
ชื่นฉ่ำค่ำเช้าสุขทวี
ทรัพย์จากผืนดิน
สินจากนที
มีสิทธิ์เสรี
สันติครองเมือง
เรามีป่าไม้อยู่สมบูรณ์
ไร่นาสดใสใต้ฟ้าเรือง
โบราณสถานส่งนามประเทือง
เกียรติเมืองไทยขจรไปทั่วแดนไกล
รักชาติของเรา
ไว้เถิดผองไทย
ผืนแผ่นแหลมทอง
รวมพี่รวมน้องด้วยกัน
รักเกียรติรักวงศ์
เสริมส่งสัมพันธ์
ทูนเทิดเมืองไทยนั้น
ให้ยืนยง</h3>



</html>
