<html>
<head>
	<title>ใกล้รุ่ง</title>
</head>
<div align="right">
***ไว้ขวาสุดเท่านั้น***<BR/>
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>ใกล้รุ่ง</h1>
</center>	

</html>